.view.scoreboard {
    &.container, &.container > .flex {
        height: 100%;
    }
    .v-card {
        border-radius: 5%;
    }
    .players, .buttons {
        height: 15%;
    }
    .scores {
        height: 70%;
    }
    .player {
        font-size: 5vh;
        font-weight: bold;
        text-align: center;
        &.away {
            margin-left: 3%;
        }
    }
    .score .v-card {
        .v-card__text {
            font-size: 30vh;
            font-weight: bold;
            text-align: center;
        }
    }
    .clock {
        margin: 0 -3%;
        z-index: 1;
        .v-card {
            text-align: center;
            font-weight: bold;
        }
        .v-card__text {
            padding: 2vh 0 0;
        }
        .subtitle {
            font-size: 4vh;
            line-height: 8vh;
        }
        .time {
            position: relative;
            overflow-y: hidden;
            line-height: 13vh;
            &.seconds {
                padding: 0 0 3vh;
            }
        }
        .seconds {
            font-size: 13vh;
            .full {
                top: -13vh;
                position: absolute;
            }
            &.zero .placeholder {
                opacity: 1;
                transition: .33s opacity ease-in;
            }
            &.tenths {
                font-size: 8.67vh;
            }
        }
        &.game-over .seconds .placeholder {
            opacity: 1;
            transition: .5s opacity ease-in;
        }
        &.running .seconds:not(.zero), &.paused .seconds:not(.zero) {
            .full {
                animation: numberAboveToBelow 1s infinite;
            }
            .placeholder {
                opacity: 0;
            }
        }
        &.paused .seconds:not(.zero) .full {
            animation-play-state: paused;
        }
        .dot {
            margin: 0 -2%;
            font-size: 10vh;
        }
    }
    .buttons {
        margin-left: -2%;
        .flex:first-child {
            margin-right: 2%;
        }
        .v-btn {
            width: 100%;
            height: 100%;
            font-size: 3vh;
            line-height: 7vh;
            border-radius: 1vh;
            &.theme--dark.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
                @include opaque-primary-bg-color(.5);
                .v-btn__content {
                    color: $pop-a-shot-white;
                }
            }
        }
        .v-btn__content {
            text-transform: capitalize;
        }
    
    }

    @keyframes zeroAboveToMiddle {
        0% {
            top: -13vh;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes numberAboveToBelow {
        0% {
            top: -13vh;
            opacity: 0;
        }
        25% {
            opacity: .67;
        }
        50% {
            top: 0;
            opacity: 1;
        }
        75% {
            opacity: .67;
        }
        100%{
            top: 13vh;
            opacity: 0;
        }
    }
}
.players.dialog {
    .v-card__title {
        &.back {
            .v-btn {
                visibility: visible;
            }
        }
        .v-btn {
            visibility: hidden;
        }
        .spacer {
            margin-left: -36px;
            flex-grow: .5 !important;
            -webkit-box-flex: .5 !important;
        }
    }
    .v-btn.theme--light:not(.v-btn--icon):not(.v-btn--flat) {
        margin: 0;
        padding: 0 6px;
        min-width: inherit;            
        box-shadow: none;
        background-color: inherit;
    }
    .v-card__text {
        padding: 0 0 5px;
    }
    .container {
        padding: 0;
        position: relative;
        &.slide {
            .left {
                @include slide(-100%);
            }
            .right {
                @include slide(0%);
            }
        }
        .layout {
            padding: 0 35px;
        }
        .left {
            @include slide(0%);
            float: initial !important;
            transition: transform .25s;
            -o-transition: transform .25s;
            -moz-transition: transform .25s;
            -webkit-transition: transform .25s;
        }
        .right {
            @include slide(100%);
            top: 0;
            float: initial !important;
            width: 100%;
            position: absolute;
            transition: transform .25s;
            -o-transition: transform .25s;
            -moz-transition: transform .25s;
            -webkit-transition: transform .25s;
        }
        .v-list {
            width: 100%;
            > div:hover {
                border-radius: 5px;
                background-color: rgba(0, 0, 0, .2);
            }
        }
    }
    .flex.xs6:not(:last-child) {
        margin-right: 35px;
    }
    .player.new.disabled {
        opacity: .25;
    }
}
