.view.scoreboard {
    &.container, &.container > .flex {
        height: 100%;
    }
    .v-card {
        border-radius: 5%;
    }
    .players, .buttons {
        height: 15%;
    }
    .scores {
        height: 70%;
    }
    .player {
        font-size: 5vh;
        font-weight: bold;
        text-align: center;
        &.away {
            margin-left: 3%;
        }
    }
    .score .v-card {
        .v-card__text {
            font-size: 30vh;
            font-weight: bold;
            text-align: center;
        }
    }
    .clock {
        margin: 0 -3%;
        z-index: 1;
        .v-card {
            text-align: center;
            font-weight: bold;
        }
        .v-card__text {
            padding: 2vh 0 0;
        }
        .subtitle {
            font-size: 4vh;
            line-height: 8vh;
        }
        .time {
            position: relative;
            overflow-y: hidden;
            line-height: 13vh;
        }
        .seconds {
            font-size: 13vh;
            .full {
                top: -13vh;
                position: absolute;
            }
            &.zero .placeholder {
                opacity: 1;
                transition: .33s opacity ease-in;
            }
            &.tenths {
                font-size: 8.67vh;
            }
        }
        &.game-over .seconds .placeholder {
            opacity: 1;
            transition: .5s opacity ease-in;
        }
        &.running .seconds:not(.zero), &.paused .seconds:not(.zero) {
            .full {
                animation: numberAboveToBelow 1s infinite;
            }
            .placeholder {
                opacity: 0;
            }
        }
        &.paused .seconds:not(.zero) .full {
            animation-play-state: paused;
        }
        .dot {
            margin: 0 -2%;
            font-size: 10vh;
        }
    }
    .buttons {
        margin-left: -2%;
        .flex:first-child {
            margin-right: 2%;
        }
        .v-btn {
            width: 100%;
            height: 100%;
            font-size: 3vh;
            line-height: 7vh;
            border-radius: 1vh;
        }
        .v-btn__content {
            text-transform: capitalize;
        }
    
    }

    @keyframes zeroAboveToMiddle {
        0% {
            top: -13vh;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes numberAboveToBelow {
        0% {
            top: -13vh;
            opacity: 0;
        }
        25% {
            opacity: .67;
        }
        50% {
            top: 0;
            opacity: 1;
        }
        75% {
            opacity: .67;
        }
        100%{
            top: 13vh;
            opacity: 0;
        }
    }
}