.player {
    padding: 5px 0 10px;
    &.new {
        padding: 5px 0 41px;
    }
    .icon {
        margin: 0 auto;
        border-radius: 50% !important;
        &.v-icon {
            color: $pop-a-shot-black;
            min-width: 100%;
            font-size: 150px;
        }
    }
    img.icon {
        width: 150px;
        height: 150px;
    }
    .v-card__title {
        padding: 5px 10px;
        .player-details {
            width: 100%;
            .name {
                padding: 5px 0 0;
                font-size: 18px;
                text-align: center;
            }
            .team-name {
                font-size: 24px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
    &:hover .v-card__actions.core {
        display: flex;
    }
    .v-card__actions.core {
        right: 0;
        display: none;
        position: absolute;
        .v-btn {
            right: 5px;
            position: absolute;
            &.edit {
                top: 0;
            }
            &.delete {
                top: 36px;
            }
        }
    }
    &.dialog {
        .container {
            padding: 0 15px;
        }
        .v-card__text, .v-card__actions {
            padding-top: 0;
        }
        .v-text-field {
            padding-top: 8px;
        }
        .icon-wrapper {
            text-align: center;
            .v-icon.icon {
                opacity: .5;
                min-width: inherit;
                &:hover {
                    opacity: 1;
                    // box-shadow: 2px 2px 2px $pop-a-shot-black;
                }
            }
        }
        .icon-file {
            display: none;
        }
        .v-card__actions small {
            margin-left: 25px;
        }
    }
}